<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="DbConfig.properties"></properties>
	<!--自动加载包路径-->
	<!--<typeAliases >-->
		<!--<package name="cn"></package>-->
	<!--</typeAliases>-->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"></property>
				<property name="url" value="${jdbc.url}"></property>
				<property name="username" value="${jdbc.username}"></property>
				<property name="password" value="${jdbc.password}"></property>
			</dataSource>
		</environment>
	</environments>

	<!--加载映射文件-->
	<mappers>
		<mapper resource=""></mapper>

	</mappers>

</configuration>